apiVersion: apps/v1
kind: Deployment
metadata:
  name: databasemysql
spec:
  selector:
    matchLabels:
      app: databasemysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: databasemysql
    spec:
      containers:
      - image: titanpxp/databasemysql:2.2
        name: databasemysql
        ports:
        - containerPort: 3306
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: titanpxp/backend:2.2
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
           memory: "128Mi"
           cpu: "500m"
        ports:
        - containerPort: 80