name: CI/CD Deploy Kubernetes

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  Build:

    runs-on: ubuntu-latest

    steps:
    
    - uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - uses: actions/checkout@v3
    - name: Build the Database image
      working-directory: database
      run: docker build . --file Dockerfile --tag titanpxp/databasemysql:2.1
      
    - uses: actions/checkout@v3
    - name: Build the backend image
      working-directory: app
      run: docker build . --file Dockerfile --tag titanpxp/backend:2.1

    - uses: actions/checkout@v3
    - name: Build the Database image
      run: docker image push titanpxp/databasemysql:2.1
    
    - uses: actions/checkout@v3
    - name: Build the Database image
      run: docker image push titanpxp/backend:2.1


  

